# Unreal Engine 5
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/
*.sln
*.suo
*.user
*.VC.db
*.VC.opendb

# Compiled
*.o
*.obj
*.exp
*.lib
*.pdb
*.ilk

# Plugin build artifacts
Plugins/*/Binaries/
Plugins/*/Intermediate/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
